@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,800);

h1{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 100px;
  color: white; 
   
  
}

img {
  
  position: absolute;
  top: 300px;
  right: 400px;
  z-index: 30;
}


body {
  margin: 0;
  background-image: url("stormysky.jpg");
  background-size: 100%;
}
.super-saiyan {
  position: relative;
  width: 1000px;
  height: 1000px;
/*   display: inline-block; */
  left: 300px;
  z-index: 1;
}
.lightning {
  fill: none;
  stroke: rgb(205, 255, 255);
  stroke-width: 0.5;
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
  //transition: stroke-dashoffset 1s;
  animation: strike 2s infinite;
  -webkit-animation: strike 2s infinite;
  filter: url(#outsideblur)
}
@-webkit-keyframes strike {
  0% {
    stroke-dashoffset: 400;
  }
  30%, 70% {
    stroke-dashoffset: 200;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes strike {
  0% {
    stroke-dashoffset: 400;
  }
  30%, 70% {
    stroke-dashoffset: 200;
  }
  100% {
    stroke-dashoffset: 0;
  }

 
  
}

.btn{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 30px;
  color: white; 
  background-color: black; 
  z-index: 50;
  top: 500px;
  margin-left: auto;
  margin-right: auto;
}

}
#top, #bottom, #left, #right {
	background: black;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }